<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - RunJS</title>
</head>
<body>
    <a href="/login">Login</a>
    <!-- Placeholder -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}
    <!-- End Placeholder -->
    <h1>Hello, {{ username }}</h1>
</body>
</html>